.tag-container {
    background: #F0FDFF;
    border: 1px solid #79D2E0;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
}