.rating-container {
  color: #fce412;
  stroke-width: 1.5px;
  stroke: #fce412;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  align-items: center;

  .ratings {
    color: #fce412 !important;
    margin-right: 6px;
    stroke-width: 1.5px;
    stroke: #fce412;
  }

  .empty-star {
    color: #fce412;
    stroke-width: 1.5px;
    stroke: #fce412;
  }
}

.rating-count {
  color: #faaf00;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: -0.5rem;
  margin-left: 0.5rem;
}

.total-ratings {
  color: white;
  margin-left: 0.5rem;

}