.expertise-success{
.info-section {
  background-color: transparent;
  box-shadow: none;
  border: none;
  .info-content {
    font-size: 1.2rem;
    color: #565555;
  }

  h1 {
    color: #000
  }
}

@media (max-width: 768px) {
  .info-section {
    h1 {
      font-size: 1.25rem;
    }

    .info-content {
      font-size: 0.9rem;
    }
  }
}

@media (max-width: 576px) {
  .info-section {
    h1 {
      font-size: 1.25rem;
    }

    .info-content {
      font-size: 1rem;
      text-align: justify;
    }
  }
}

@media (max-width: 425px) {
  h1 {
    font-size: 1.4rem;
  }
}
}
