.connect-form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    .form-title {
      text-align: left;
      font-weight: bold;
      margin-bottom: 20px;
      font-size: 1.5rem;
    }
  
    .form-label {
      font-weight: bold;
    }
  
    .form-control,
    .form-select {
      border-radius: 4px;
      padding: 10px;
      margin-bottom: 15px;
    }
  
    .form-select {
      background-color: #fff;
      border: 1px solid #ced4da;
  
      &:focus {
        border-color: #80bdff;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      }
    }
  
    .button-group {
      display: flex;
      justify-content: flex-start;
      gap: 10px;
      .clear-btn {
        background: transparent;
        font-weight: 700;
        border-radius: 10px;
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
        padding-top: 0.3rem;
      }

      .submit-btn{
        font-weight: 700 !important;
        border-radius: 10px !important;
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
        padding-top: 0.3rem;
        color: #fff;
      }
    }
  
    .invalid-feedback {
      display: block;
      margin-top: -10px;
      margin-bottom: 10px;
      color: #dc3545;
      font-size: 0.9rem;
    }
  
    .alert {
      margin-top: 20px;
      font-size: 0.9rem;
    }
  }
  