$bluePrimary: #0D71B9;
$buttonBlue: #2DABE3;
$titleBlue: #1e266d;
$orangePrimary: #F39323;
$orangeSecondary: #FFD231;
$grayPrimary: #606060;
$blackPrimary: #18232B;
$gradient: #0D71B9 & #8813B0;
$white: #ffffff;

.title {
  color: #1e266d;
}

.gradientTitle {
  background: linear-gradient(99deg, #0D71B9 8.64%, #8813B0 93.65%);
  background: -webkit-linear-gradient(99deg, #0D71B9 8.64%, #8813B0 93.65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.megaTitle {
  font-family: "Montserrat";
  font-size: 2.25em;
  font-weight: black;
}

.mainTitle {
  font-family: "Montserrat";
  font-size: 1.5em;
  font-weight: bolder;
}

.subTitle {
  font-family: "Montserrat";
  font-size: 1.125em;
  font-weight: bold;
}

.strongText {
  font-family: "Montserrat";
  font-size: 0.875em;
  font-weight: bold;
}

.paragraph {
  font-family: "Montserrat";
  font-size: 0.875em;
  font-weight: normal;
}

.quote {
  font-family: "Montserrat";
  font-size: 0.875em;
  font-weight: normal;
  font-style: italic;
}

.highlight {
  font-family: "Montserrat";
  font-size: 0.875em;
  font-weight: normal;
}

.solidButton {
  background: linear-gradient(90deg, rgba(13, 113, 185, 1) 0%, rgba(136, 19, 176, 1) 25%);
  border: 1px solid;
  font-size: 16px;
  border-radius: 1rem;
  color: #ffffff;
  padding-top: 15;
  padding-bottom: 15;

  :hover {
    background: transparent;
    color: linear-gradient(90deg, rgba(13, 113, 185, 1) 0%, rgba(136, 19, 176, 1) 25%);
  }
}

.outlineButton {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  background: linear-gradient(99deg, #0D71B9 8.64%, #8813B0 93.65%) 1;
  border: 1px solid;
  border-image: linear-gradient(99deg, #0D71B9 8.64%, #8813B0 93.65%) 1;
  font-size: 16px;
  border-radius: 1rem;
  color: linear-gradient(99deg, #0D71B9 8.64%, #8813B0 93.65%) 1;
  padding-top: 15px;
  padding-bottom: 15px;
  background-clip: text;
  text-fill-color: transparent;

  :hover {
    background: linear-gradient(90deg, rgba(13, 113, 185, 1) 0%, rgba(136, 19, 176, 1) 25%);
    color: #ffffff;
  }
}

/* Common styles for the button */
.gradient-button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  background: linear-gradient(99deg, #0D71B9 8.64%, #8813B0 93.65%);
  /* Gradient for the background */
  background-clip: padding-box;
  /* Ensure the gradient doesn't bleed outside the border radius */
  /* Add a shadow for a better visual effect */
}

/* Set the text gradient color */
.gradient-button::before {
  content: attr(data-text);
  /* Get the button text */
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  background: linear-gradient(99deg, #0D71B9 8.64%, #8813B0 93.65%);
  /* Gradient for the text */
  background-clip: text;
  -webkit-background-clip: text;
  /* For Safari support */
  mix-blend-mode: screen;
  /* Ensure the text blends with the background gradient */
  z-index: 1;
  /* Bring the text above the background */
}

.disabledButton {
  background: grey;
  border: 1px solid grey;
  font-size: 16px;
  border-radius: 1rem;
  color: #ffffff;
  padding-top: 15;
  padding-bottom: 15;
  cursor: not-allowed;

  :hover {
    background: $gradient;
    color: #ffffff;
  }
}

.gradientButton {
  background: linear-gradient(99deg, #0D71B9 8.64%, #8813B0 93.65%);
  background: -webkit-linear-gradient(99deg, #0D71B9 8.64%, #8813B0 93.65%);
  border-radius: 60px !important;
  color: white !important;
  margin-left: 1rem !important;
  font-style: normal !important;
  font-weight: 200 !important;
  text-transform: inherit !important;
}

.gradientText {
  background: linear-gradient(99deg, #0D71B9 8.64%, #8813B0 93.65%);
  background: -webkit-linear-gradient(99deg, #0D71B9 8.64%, #8813B0 93.65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.p0 {
  padding: 0 !important;
}

.margin1 {
  margin: 1rem;
}

.fullWidth {
  width: 100%;
}

.fullHeight {
  height: 100%;
}

.halfWidth {
  width: 50%;
}

.halfHeight {
  height: 50%;
}

.columnFlex {
  display: flex;
  flex-direction: column;
}

.flexWrap {
  display: flex;
  flex-wrap: wrap;
}

.justifySpaceBetween {
  display: flex;
  justify-content: space-between;
}

.pointer {
  cursor: pointer;
}

.linkText {
  margin-left: 3px;
  color: #0d71b9;
  text-decoration: underline;
}

.divider {
  border-bottom: 1px solid #606060;
}

.gradient-outlined-container {
  padding: 2px;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  background: linear-gradient(99deg, #0D71B9 8.64%, #8813B0 93.65%);
  background-clip: padding-box;
}

.gradient-outlinedButton {
  border: none;
  background: lightgray;
  padding: 10px 20px;
  border-radius: 2rem;
}

.section-header {
  font-size: 2.5rem;
  font-weight: 700;
  color: #1e266d;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.section-content {
  font-size: 0.875rem;
  line-height: 2;
}