.gradientButton {
  background: linear-gradient(#0d71b9, #8813b0);
  background: -webkit-linear-gradient(#0d71b9, #8813b0);
  border-radius: 10px !important;
  color: white !important;
  margin-left: 1rem !important;
  font-style: normal !important;
  font-weight: 200 !important;
  text-transform: inherit !important;
}

.gradientText {
  background: linear-gradient(#0d71b9, #8813b0);
  background: -webkit-linear-gradient(#0d71b9, #8813b0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.margin1 {
  margin: 1rem;
}

.fullWidth {
  width: 100%;
}

.fullHeight {
  height: 100%;
}

.halfWidth {
  width: 50%;
}

.halfHeight {
  height: 50%;
}

.columnFlex {
  display: flex;
  flex-direction: column;
}

.flexWrap {
  display: flex;
  flex-wrap: wrap;
}

.justifySpaceBetween {
  display: flex;
  justify-content: space-between;
}

.pointer {
  cursor: pointer;
}

.linkText {
  margin-left: 3px;
  color: #0d71b9;
  text-decoration: underline;
}
.divider {
  border-bottom: 1px solid #606060;
}
