.register-full-name,
.register-email,
.register-phone-number,
.register-comments,
.register-course-code,
.register-course-name {
  background: #ffffff !important;
  border: 1px solid #cecece !important;
  border-radius: 2px !important;

  &:hover {
    background: #ffffff !important;
    border: 1px solid #cecece !important;
    border-radius: 2px !important;
  }

  fieldset {
    border: none !important;
  }
}

.register-work-experience {
  margin: 0px !important;
  padding: 0px !important;
  border: 0px !important;
  position: static !important;
  margin-bottom: 25px !important;
  margin-top: 20px !important;
  background: #ffffff !important;
  border-radius: 2px !important;

  &:hover {
    background: #ffffff !important;
    border-radius: 2px !important;
  }

  .MuiOutlinedInput-root {
    border: 1px solid #cecece;
    border-radius: 2px;

    .MuiSelect-icon {
      right: 7px !important;
    }
  }

  width: 100%;

  #confirm-experience {
    height: 10px;
  }

  fieldset {
    border: none !important;
  }
}

.radio-button-group {
  margin-top: 25px !important;
  font-weight: 500;
  font-size: 14px;
  color: #666666;
}

.course-time {
  .course-time-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #666666;
    margin-top: 25px !important;
    margin-bottom: 25px !important;
  }

  .course-time-btns {
    display: flex;
    justify-content: space-between;

    .card-container {
      width: 178px;
      height: 89px;
      background: #fefefe;
      border: 1px solid #afafaf;
      border-radius: 7px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      .number {
        font-weight: 700;
        font-size: 24px;
        color: #666666;
      }

      .period {
        font-weight: 500;
        font-size: 14px;
        color: #666666;
      }
    }

    .selected {
      border: 2px solid #0d71b9;

      .number,
      .period {
        color: #0d71b9;
      }
    }
  }
}

.modal-footer {
  .cancel-btn {
    width: 155px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid;
    margin-right: 20px;

    &:hover {
      cursor: pointer !important;
    }
  }

  .register-btn {
    width: 226px;
    height: 53px;
    background: #4a4a4a !important;
    border-radius: 10px !important;
    font-weight: 700 !important;
    font-size: 18px !important;
    text-align: center;
    color: #ffffff;
    margin-right: 20px;

    &:hover {
      cursor: pointer !important;
    }

    &__disable {
      @extend .register-btn;
      color: #ffffff !important;
      opacity: 0.4;
    }
  }

  .register-pay-btn {
    width: 226px !important;
    height: 53px !important;
    background: #4a4a4a !important;
    border-radius: 10px !important;
    font-weight: 700 !important;
    font-size: 18px !important;
    text-align: center;
    color: #ffffff;
    opacity: 0.4;

    &:hover {
      cursor: pointer !important;
    }
  }
}